#pnf404 {
  height: 100vh;
  width: 100%;
  position: relative;
}
#not-found {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#pnf404 h1 {
  color: var(--red);
  font-size: 3em;
}
#pnf404 h3 {
  color: var(--dark-red);
  font-size: 2em;
  margin: 1rem;
}
#pnf404 p {
  color: grey;
  font-size: 1.1em;
  margin-bottom: 2rem;
}
#pnf404 a {
  display: block;
  margin: 0 auto;
  width: 200px;
  font-size: 1.2em;
  color: var(--white);
  padding: 0.5rem 0.75rem;
  background-color: var(--red);
  cursor: pointer;
}
